{% extends "base/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}


{% block body %}
<!-- Main Content -->
<div id="content" class="site-content">
	<br>
	<br>
	<br>
	<br>



	<div class="container">
		<div class="register-page">
			<div class="register-form form">
				<div class="block-title">
					<h2 class="title"><span>Create Account</span></h2>
				</div>
					{% if messages %}
						<ul class="messages">
  					    {% for message in messages %}
						<div class="alert alert-danger" role="alert">
							{{ forloop.counter }} {{ message }}
						  </div>
    					{% endfor %}
						</ul>
					{% endif %}
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label>Username</label>
						<input type="text" required value="" name="username">
					</div>

					<div class="form-group">
						<label>Email</label>
						<input type="email" required value="" name="email">
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" required value="" name="password">
					</div>

					<div class="form-group">
						<label>Confirm Password</label>
						<input type="password" required value="" name="password1">
					</div>

					<div class="form-group text-center">
						<input type="submit" class="btn btn-primary" value="Create Account">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>

{% endblock body %}