{% load static %}
<!-- Vendor JS -->
<script src="{% static 'libs/jquery/jquery.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'libs/jquery.countdown/jquery.countdown.js' %}"></script>
<script src="{% static 'libs/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
<script src="{% static 'libs/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/slider-range/js/tmpl.js' %}"></script>
<script src="{% static 'libs/slider-range/js/jquery.dependClass-0.1.js' %}"></script>
<script src="{% static 'libs/slider-range/js/draggable-0.1.js' %}"></script>
<script src="{% static 'libs/slider-range/js/jquery.slider.js' %}"></script>
<script src="{% static 'libs/elevatezoom/jquery.elevatezoom.js' %}"></script>

<!-- Template CSS -->
<script src="{% static 'js/main.js' %}"></script>